@use 'variables' as v;
@use 'mixin' as m;

//======CATEGORIES======//
$categories: (
  'action' v.$color-action 0,
  'comedy' v.$color-comedy 1,
  'drama' v.$color-drama 2,
  'scifi' v.$color-scifi 3,
  'horror' v.$color-horror 4,
  'animation' v.$color-animation 5,
  'classics' v.$color-classics 6,
  'cult' v.$color-cult 7
);

$icons-count: 8;

//======SECTION_CATEGORY======//
.category {
  @include m.container;
  @include m.section-spacing;
  background-color: v.$color-dark;
  color: v.$color-cream;
  padding: v.$space-xl v.$space-md;
  background-image: url('../../src/images/patterns/pattern-dark.png');
  background-repeat: repeat;
  background-size: 200px auto;

  &__header {
    margin-bottom: v.$space-lg;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: v.$space-md;
  }

  .container__card {
    padding: v.$space-md;
    background-color: v.$color-black;
    border: 1px solid rgba(v.$color-cream, 0.1);

    .u-body-s {
      margin: 0;
      color: v.$color-light-grey;
    }
  }

  .card__header {
    margin-bottom: v.$space-sm;
  }

//======FOUTUES-ICONES======//

&__card-icon {
  display: block;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  margin-bottom: v.$space-sm;
  border-radius: v.$radius-max;
  background-image: url('../../src/images/icons/categories.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: auto auto;
  background-position: -1.5rem -1.5rem;
}

&__card-title {
  margin: 0 0 v.$space-xs;
  font-family: v.$font-title;
  font-size: v.$fs-h3;
  font-weight: 600;
}

@each $name, $color in $categories {
  .card--#{$name} &__card-title {
    color: $color;
  }

  &__card-icon--#{$name} {
    background-color: $color;
  }
}

&__card-icon--action    { background-position-x: -25px; }
&__card-icon--comedy    { background-position-x: -65px; }
&__card-icon--drama     { background-position-x: -105px; }
&__card-icon--scifi     { background-position-x: -145px; }
&__card-icon--horror    { background-position-x: -185px; }
&__card-icon--animation { background-position-x: -225px; }
&__card-icon--classics  { background-position-x: -265px; }
&__card-icon--cult      { background-position-x: -305px; }


  //======TABLET======//
  @include m.tablet {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  //======DESKTOP======//
  @include m.desktop {
    &__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}