@use 'variables' as v;
@use 'mixin' as m;

//======SECTION_DAILY======//
.daily {
  @include m.container;
  @include m.section-spacing;
  position: relative;
  z-index: 1;
  background-color: v.$color-coral;
  color: v.$color-dark;
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-lg;
  background-image: url('../../dist/images/patterns/pattern-red.png');
  background-repeat: repeat;
  background-size: 200px auto;
}

  //======IMAGE======//
  &__image {
    position: relative;
    width: 15rem;
    padding-top: 20rem;
    margin: 0 auto;

    picture:first-child img {
      display: block;
      width: 75%;
      margin: 0 auto;
      transform: translateY(-9rem)
    }

    picture:last-child {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-39%);
      width: 100%;
    }

    picture:last-child img {
      display: block;
      width: 80%;
    }
  }

  //======TEXTE======//
  &__header {
    margin-bottom: v.$space-md;

    .u-title,
    .u-body {
      color: v.$color-dark;
    }

    .u-body {
      margin: 0;
    }
  }

  //======PHYLACTÈRE======//
  &__box {
    position: relative;
    background-color: v.$color-dark;
    color: v.$color-cream;
    padding: v.$space-md;

    &::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: -1.9rem;
      inline-size: 2rem;
      block-size: 2rem;
      background-color: v.$color-dark;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  &__box-title {
    margin: 0 0 v.$space-sm;
    font-family: v.$font-title;
    font-size: v.$fs-h4;
    font-weight: 700;
  }

  &__box-bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: v.$space-sm;
    align-items: center;

    .u-body-s {
      margin: 0;
    }
  }

  //======LIEN======//
  &__cta {
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: v.$fs-body-s;
    font-weight: 700;
    color: v.$color-coral;
    text-align: left;
    cursor: pointer;
  }

  //======BOUTON======//
  .reveal__answer {
    position: relative;
    user-select: none;
  }

  .reveal__trigger {
    display: block;
    padding: v.$space-xs v.$space-md;
    background: linear-gradient(0deg, rgba(238, 180, 36, 1) 0%, rgba(212, 162, 36, 1) 30%, rgba(196, 150, 33, 1) 50%, rgba(212, 162, 36, 1) 70%, rgba(238, 180, 36, 1) 100%);
    color: v.$color-dark;
    font-weight: 700;
    text-align: center;

    cursor: pointer;
    list-style: none;
    user-select: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .reveal__content {
    margin: 0;
    padding: v.$space-xs v.$space-md;
    background-color: transparent;
    color: v.$color-yellow;
    font-weight: 700;
    text-align: center;
    border: v.$border-size-sm dashed v.$color-yellow;
    user-select: none;
  }

  .reveal__answer[open] .reveal__trigger {
    position: absolute;
    inset: 0;
    opacity: 0;
    user-select: none;
  }

  .reveal__answer[open]:focus-within .reveal__content {
    outline-offset: 0px;
    user-select: none;
  }

  //======TABLET======//
  @include m.tablet {
    grid-template-columns: auto 1fr;
    align-items: center;

    &__image {
      align-self: end;
      margin-bottom: -6rem; // le fantôme dépasse sur la section suivante
    }

    &__box-bottom {
      grid-template-columns: 1fr auto;
    }

    &__cta {
      grid-column: 1;
    }

    .reveal__answer {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }

  //======DESKTOP======//
  @include m.desktop {
    padding-inline: v.$space-xxl;
    padding-block: v.$space-xl 0;
  }
}