@use 'variables' as v;

//===BODY===//
body {
  background-color: v.$color-cream;
  color: v.$color-dark;
  font-family: v.$font-body;
  font-size: v.$fs-body;
  line-height: 1.5;
}

//===TITRES===//
h1,
h2,
h3 {
  font-family: v.$font-title;
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: v.$fs-h1;
}

h2 {
  font-size: v.$fs-h2;
}

h3 {
  font-size: v.$fs-h3;
}

h4 {
  font-family: v.$font-body;
  font-weight: 700;
  font-size: v.$fs-h4;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}

//===LIENS===//
a {
  color: inherit;
  text-decoration: none;
}

//===LISTES===//
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

//===ACCESSIBILITE - FOCUS CLAVIER===//
:focus-visible {
  outline: v.$border-width solid v.$color-yellow;
  outline-offset: 2px;
}