@use 'variables' as v;

//======STRUCTURE_GENERALE======//
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

//======RYTHME_VERTICAL_SECTIONS======//
section {
  padding-block: v.$space-xl;
}