@use 'variables' as v;

//===STRUCTURE GENERALE===//
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

//===RYTHME VERTICAL ENTRE SECTIONS===//
section {
  padding-block: v.$space-xl;
}