@font-face {
  font-family: Barrio;
  src: url('../webfonts/Barrio/Barrio-Regular.woff2') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: Recursive;
  src: url('../webfonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.woff2') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: Rubik;
  src: url('../webfonts/Rubik/Rubik-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: Rubik;
  src: url('../webfonts/Rubik/Rubik-Italic-VariableFont_wght.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
}